* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 180vh;
}

#experience{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
#bg {
  z-index: -1;
}

/* Header Section */
.nav-bar {
    position: relative;
    display: flex;
    background-color: beige;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Content 1 */
.content-01 {
    display: grid;
    grid-template-columns: 1fr 900px;
    grid-template-rows: 1fr 1fr 1fr;
    height: 150vh;
    padding: 80px 80px;
    justify-content: center;
    align-items: center;
}

.content-grid-01 {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-style: oblique;
    padding: 30px 10px;
    margin: 50px;
    grid-area: 1 / 1 / 1 / 1;
    background-color: blanchedalmond;
    z-index: 1;
    width: 500px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-grid-02 {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-style: oblique;
    padding: 30px 10px;
    margin: 50px;
    grid-area: 2 / 2 / 2 / 2;
    background-color: blanchedalmond;
    z-index: 999;
    width: 500px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-grid-03 {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-style: oblique;
    padding: 30px 10px;
    margin: 50px;
    grid-area: 3 / 1 / 3 / 1;
    background-color: blanchedalmond;
    z-index: 999;
    width: 500px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Footer Section */
.foot-bar {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1800px;
    z-index: 999;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

